.DS_Store
build/
.idea
npm-debug.log
yarn-error.log
node_modules
.idea
.github
.gitignore
CODE_OF_CONDUCT.md
TOM-Legend.png
yarn.lock

# Unused directories
template/__tests__
template/android
template/ios
template/node_modules

# Config files
template/.*
template/app.json
template/package.json
template/*.lock

template/babel.config.js
# template/index.js <-- DO NOT UNCOMMENT
template/jest.setup.js
template/jsconfig.js
template/metro.config.js

# SRC files
template/src/Assets

template/src/Components/index.ts

template/src/Config

template/src/Containers/index.ts
template/src/Containers/StartupContainer.tsx

template/src/Hooks/index.ts

template/src/Navigators/Main.tsx
template/src/Navigators/Application.tsx

template/src/Services/modules/index.ts
template/src/Services/modules/users/index.ts

template/src/Store/index.ts

template/src/Theme/themes
template/src/Theme/index.ts
template/src/Theme/Variables.ts

template/src/Translations
