.DS_Store
build/
.idea
.gradle
local.properties
*.iml
npm-debug.log
yarn-error.log
node_modules
template/src/Config/index.ts
.idea
.github

TOM-Legend.png
template/__tests__
template/android
template/ios
template/node_modules
template/.buckconfig
template/.editorconfig
template/.eslintrc.js
template/.flowconfig
template/.gitattributes
template/.gitignore
template/.prettierrc.js
template/.watchmanconfig
template/app.json
template/babel.config.json
template/jest.setup.js
template/jsconfig.js
template/metro.config.js
template/package.json
template/yarn.lock

template/src/Assets
template/src/Components/index.ts
template/src/Config
template/src/Containers/index.ts
template/src/Navigators/Main.tsx
template/src/Translations
